@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}



$ruler: 16px;
$color-red: #AE1100;
$color-bg: #EBECF0;
$color-shadow: #BABECC;
$color-white: #FFF;

body, html {
  background-color:$color-bg;
}

body, p, input, select, textarea, button {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -0.2px;
    font-size: $ruler;
}

div, p {
  color: $color-shadow;
  text-shadow: 1px 1px 1px $color-white;
}
.row{
  margin-top: 4em;
}

.form-group{
  margin-top: 2em;
}

.form-control{
  border-radius: 0.5em;
  height: 4.2em;
  margin-top: 0.5em;
}

.button-back {
  .btn-back {
    position: absolute;
    top: 5.2em;
    right: 12em;
    padding: 0.5em 2em;
    background-color: #3d5caf;
    color: #ffffff73;
    text-decoration: none;
    border-radius: 6px;
  }
}
