@tailwind base;
@tailwind components;
@tailwind utilities;

.link-soft {
    color: #61677c65;
    font-weight: 600;
    padding: 0.9rem 6rem;
    border-radius: 0.9rem;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    box-shadow: -5px -5px 35px #ffffff, 5px 5px 20px rgba(0,0,0,0.2);
  }
  
  .link-soft:hover {
    box-shadow: -2px -2px 5px #ffffff, 2px 2px 5px rgba(0,0,0,0.2);
  }
  
  .link-soft:active {
    box-shadow: inset 1px 1px 2px rgba(0,0,0,0.2), inset -1px -1px 2px #ffffff;
  }
  